body{
    font-family: sans-serif;
}

h2{
    text-align: center;
}

#main{
    width: 500px;
    margin: 0 auto;
}

#main h2{
    display: flex;
    justify-content: space-between;
}

.btn_container{
    width: 800px;
    margin: 0 auto;
    grid-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_one{
    padding: 8px 16px;
    font-size: 16px;
}

.user{
    display: flex;
    justify-content: space-between;
}